---
// import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
// import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
// import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
// const projects = (await getCollection('work'))
// 	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
// 	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, world!"
					tagline="When I was a kid, I built with Lego blocks; today, I build on AWS."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Builder</Pill>
						<Pill><Icon icon="youtube-logo" size="1.33em" /> YouTuber</Pill>
						<Pill><Icon icon="chart-line-up" size="1.33em" /> Learner</Pill>
					</div>
				</Hero>

				<img
					alt="Rafal Krol slightly smiling in a black t-shirt standing in front of a staircase"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<!-- <section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Selected Work</h3>
					<p>Take a look below at some of my featured work for clients from the past few years.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section> -->

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Certificates</h3>
					<p>
						Whenever I do something, I give one hundred and ten. That's why I have many certificates, and that's why there will be even more.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						{
							[
								{
									// AWS Certified Solutions Architect – Professional
									href: 'https://www.credly.com/badges/035a66a4-b571-458c-8064-7383690d8397',
									src: 'https://images.credly.com/size/680x680/images/2d84e428-9078-49b6-a804-13c15383d0de/image.png',
									alt: 'A badge in the form of a turquoise hexagon standing on one of its vertices with the words - AWS Certified, Solutions Architect, Professional - on it.',
								},
								{
									// AWS Certified DevOps Engineer – Professional
									href: 'https://www.credly.com/badges/c06836e7-6a91-4bf7-9d3d-43be1c485a24',
									src: 'https://images.credly.com/size/680x680/images/bd31ef42-d460-493e-8503-39592aaf0458/image.png',
									alt: 'A badge in the form of a turquoise hexagon standing on one of its vertices with the words - AWS Certified, DevOps Engineer, Professional - on it.',
								},
								{
									// AWS Certified Advanced Networking – Specialty
									href: 'https://www.credly.com/badges/8394e5e3-5be6-4cb3-aef1-49234d566804',
									src: 'https://images.credly.com/size/680x680/images/4d08274f-64c1-495e-986b-3143f51b1371/image.png',
									alt: 'A badge in the form of a purple hexagon standing on one of its vertices with the words - AWS Certified, Advanced Networking, Specialty - on it.',
								},
								{
									// AWS Certified Data Analytics – Specialty
									href: 'https://www.credly.com/badges/2a913331-828a-484a-a8d0-577ddd4c1556',
									src: 'https://images.credly.com/size/680x680/images/6430efe4-0ac0-4df6-8f1b-9559d8fcdf27/image.png',
									alt: 'A badge in the form of a purple hexagon standing on one of its vertices with the words - AWS Certified, Data Analytics, Specialty - on it.',
								},
								{
									// AWS Certified Security – Specialty
									href: 'https://www.credly.com/badges/f6111b43-063f-4c44-8c2f-7fe70589f69a',
									src: 'https://images.credly.com/size/680x680/images/53acdae5-d69f-4dda-b650-d02ed7a50dd7/image.png',
									alt: 'A badge in the form of a purple hexagon standing on one of its vertices with the words - AWS Certified, Security, Specialty - on it.',
								},
								{
									// AWS Certified Solutions Architect – Associate
									href: 'https://www.credly.com/badges/1aac6199-1a19-4831-b339-51deec5748cb',
									src: 'https://images.credly.com/size/680x680/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png',
									alt: 'A badge in the form of a blue hexagon standing on one of its vertices with the words - Solutions Architect, Associate - on it.',
								},
								{
									// AWS Certified Developer – Associate
									href: 'https://www.credly.com/badges/d95f1b92-c8cd-4273-9cc8-e8cbb6b52ef8',
									src: 'https://images.credly.com/size/680x680/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png',
									alt: 'A badge in the form of a blue hexagon standing on one of its vertices with the words - Developer, Associate - on it.',
								},
								{
									// AWS Certified SysOps Administrator – Associate
									href: 'https://www.credly.com/badges/09c9ad65-03c9-4cec-8728-d0328409e63d',
									src: 'https://images.credly.com/size/680x680/images/f0d3fbb9-bfa7-4017-9989-7bde8eaf42b1/image.png',
									alt: 'A badge in the form of a blue hexagon standing on one of its vertices with the words - SysOps Administrator - on it.',
								},
								{
									// HashiCorp Certified: Terraform Associate (002)
									href: 'https://www.credly.com/badges/5d52b8c9-44f7-4492-a7cc-cab8833d58bd',
									src: 'https://images.credly.com/size/680x680/images/99289602-861e-4929-8277-773e63a2fa6f/image.png',
									alt: 'A black badge with the words - Terraform, Certified Associate, HCTAO-002 - on it.',
								}
							].map((badge) => (
								<li class="mention-card">
									<a href={badge.href} target="_blank"><img src={badge.src} alt={badge.alt}></a>
								</li>
							))
						}
					</Grid>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 25rem;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1rem;
			height: 20rem;
		}
	}
</style>
